/* ------------------
 styling for the tables 
   ------------------   */

.minimalist
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	/*width: 500px;*/
	border-collapse: collapse;
	text-align: left;
}

.minimalist th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
.minimalist td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}

.minimalist td a
{
	color: #669;
	text-decoration: none;
}


.minimalist tbody tr:hover td
{
	color: #009;
}

.minimalist tr a:hover 
{
	color: #009;
	text-decoration: underline;
}


.rounded-corner
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin-right: 20px;
	width: 240px;
	text-align: left;
	border-collapse: collapse;
}
.rounded-corner thead th.rounded-company
{
	background: #b9c9fe url('/images/table-images/left.png') left -1px no-repeat;
}
.rounded-corner thead th.rounded-q4
{
	background: #b9c9fe url('/images/table-images/right.png') right -1px no-repeat;
}
.rounded-corner th
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
}
.rounded-corner td
{
	padding: 3px 8px 3px 8px;
	background: #e8edff;
	border-top: 1px solid #fff;
	color: #669;
}
.rounded-corner tfoot td.rounded-foot-left
{
	background: #e8edff url('/images/table-images/botleft.png') left bottom no-repeat;
}
.rounded-corner tfoot td.rounded-foot-right
{
	background: #e8edff url('/images/table-images/botright.png') right bottom no-repeat;
}
.rounded-corner td a
{
	text-decoration: none;
}
.rounded-corner tr a:hover 
{
	text-decoration: underline;
}


.hor-zebra
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 470px;
	text-align: left;
	border-collapse: collapse;	
}
.hor-zebra th
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #b9c9fe;
}
.hor-zebra td
{
	padding: 8px;
	color: #333333;
}
.hor-zebra .odd
{
	background: #e8edff; 
	border-top: 1px dotted #b9c9fe;
	border-bottom: 1px dotted #b9c9fe;
}

.hor-zebra td a
{
	text-decoration: none;
}
.hor-zebra tr a:hover 
{
	text-decoration: underline;
}

.property_row
{
	border-top: 1px dotted #b9c9fe;
	border-bottom: 1px dotted #b9c9fe;
}

.property_row td{
	padding: 2px 7px 2px 7px !important;
}


.default-container 
{
	padding: 15px 35px 35px 35px !important;	
	color: #039 !important;
}
.default-container a
{
	color: #039 !important;
}


