.ui-dform-form input {margin-bottom:5px;}
code.ui-dform-form,blockquote.ui-dform-form {
	background-color: #FFFFFF;
}

label.ui-dform-form {
	display: block;

}

hr.ui-dform-hr{display:block;height:1px;background-color:#A6C9E2; border: 0px solid #003399;}

label.ui-dform-checkbox,label.ui-dform-radio {
	display: inline !important;
}

.ui-dform-label{
  font-size:0.7em;
  display: block;
/*  float:left;
  min-width:95px;
  height:20px;
  margin-bottom:5px;*/
}
.ui-dform-span,.ui-dform-tabs {
	margin: 10px 0;
  height:19px;
}
input.ui-dform-text,textarea.ui-dform-textarea,select.ui-dform-select,hidden.ui-dform-hidden{
	font-size:11px;min-width:290px;margin:7px 0px 10px 0px;
}


input.ui-dform-submit, button.ui-dform-button{
	display: block;margin:10px 10px;font-size:12px;float:left;
}

.ui-tabs-nav .ui-dform-label { margin: 0; }


.ui-dform-radio, .ui-dform-checkbox {
	float: left;margin-bottom:6px;
}