<table class="minimalist">
  <tr>
    <th>Name</th> 
	<th align="right">Actions</th>
  </tr>

<% @effects.each do |effect| %>
  <tr>
    <td><%=h effect.effect_name.first %></td>    
    <td align="right">
		<%= link_to 'Edit', :action => "edit", :id => effect %>
    <%= link_to 'Destroy', { :action => "destroy", :id => effect }, :confirm => 'Are you sure?', :method => :delete %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Effect', new_effect_path %>
