<table class="minimalist">
  <tr>
    <th>Name</th>    
	<th align="right">Actions</th>
  </tr>

<% @concrete_interfaces.each do |concrete_interface| %>
  <tr>
    <td><%=h concrete_interface.interface_name.first %></td>    
    <td align="right">
		<%= link_to 'Edit', :action => "edit", :id => concrete_interface %>
    <%= link_to 'Destroy', { :action => "destroy", :id => concrete_interface }, :confirm => 'Are you sure?', :method => :delete %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Concrete Interface', new_concrete_interface_path %>
